@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}
 
/* header styling */
 
header{
    background-color: #02A3DA;
    height: 100vh;
}
 
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 5rem;
    margin: 0 auto;
    padding-top: 5rem;
}
 
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    /* padding-right: 10rem; */
}
 
.navbar ul a{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}
 
.navbar .logo{
    width: 200px;
}
 
 
.content{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    margin-top: 5rem;
}
 
.left{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid black; */
    height: 70vh;
    padding: 0 5rem;
    gap: 5rem;
}
 
.left h1{
    color: white;
    font-size: 96px;
}
 
.left p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 2.3rem;
}
 
.read-more{
    padding: 1rem 1.5rem;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    background: #02A3DA;
    border-radius: 3rem;
    cursor: pointer;
}
 
.read-more:hover{
    background-color: white;
    color: #02A3DA;
}
 
.right{
    width: 45%;
    /* border: 1px solid black; */
    position: relative;
}
 
.right .smash{
    height: 85vh;
}
 
.right .cork{
    height: 15vh;
    position: absolute;
    top: -70px;
    left: 90px;
    rotate: -90deg;
}
 
/* ---------tournament starts------------ */

.tournaments{
    background-color: #f4f4ef;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}
 
.tour-heading{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
 
.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 50px;
    background-color: #f4f4ef;
}
 
.card{
    background-color: white;
    padding: 0 0 20px 0;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}
 
.card img{
    height: 250px;
    width: 100%;
}
 
.tour-info h2{
    font-size: 18px;
    padding-top: 20px;
    color: white;
    color: black;
    margin-bottom: 20px;
}

.tour-info a img{
    width: 100px;
    height: 100px;
}
