@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-family: "Syne Mono";
}
 
/* header styling */
 
header{
    background-color: #02A3DA;
    height: 100vh;
}
 
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 5rem;
    margin: 0 auto;
    padding-top: 5rem;
}
 
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    /* padding-right: 10rem; */
}
 
.navbar ul a{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}
 
.navbar .logo{
    width: 200px;
}
 
 
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    margin-top: 5rem;
}
 
.left{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    padding: 0 5rem;
    gap: 5rem;
}
 
.left h1{
    color: white;
    font-size: 96px;
}
 
.left p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 2.3rem;
}
 
.read-more{
    padding: 1rem 1.5rem;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    background: #02A3DA;
    border-radius: 3rem;
    cursor: pointer;
}
 
.read-more:hover{
    background-color: white;
    color: #02A3DA;
}
 
.right{
    width: 45%;
    position: relative;
}
 
.right .smash{
    height: 85vh;
}
 
.right .cork{
    height: 15vh;
    position: absolute;
    top: -70px;
    left: 90px;
    rotate: -90deg;
}


 
/* --------heading ends--------------*/

/* ---------coaching starts------------*/

.coaching::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.coaching{
    height: 100%;
    background: url("images/service-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-bottom: 5rem;
}

.coaching h2 {
    position: relative;
    z-index: 2;
    color: #fff; /* Light text for contrast */
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
    margin-bottom: 50px;
}

.price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
}

.price-col{
    background: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: white;
    text-align: center;
    z-index: 2;
}

.price-col p{
    font-size: 22px;
}

.price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col h3 span{
    font-size: 16px;
}

.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.price-col ul li{
    margin: 15px 0;
}

.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: white;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover{
    background: #e33058;
}


/* ----------coaching ends--------------*/


/* ---------tournament starts------------ */

.tournaments{
    background-color: #f4f4ef;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}
 
.tour-heading{
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
}
 
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;
    background-color: #f4f4ef;
    /* border: 2px solid black; */
    width: 60%;
    margin: auto;
    padding-bottom: 5rem;
    margin-top: 4rem;
}
 
.card{
    background-color: white;
    padding: 0 0 20px 0;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}
 
.card img{
    height: 250px;
    width: 100%;
}
 
.tour-info h2{
    font-size: 18px;
    padding-top: 20px;
    color: white;
    color: black;
    margin-bottom: 20px;
}

.tour-info a img{
    width: 100px;
    height: 100px;
}

/* -----------tournaments end------------- */

/* ------------testimonial starts------------- */

.testimonials{
	min-height: 50vh;
	background-color: #000000;
	float: left;
	width: 100%;
	padding:100px 15px;
    margin-bottom: 40px;
}

.container{
	max-width: 1170px;
	margin: auto;
}
.testimonials .title{
	margin-bottom:60px
}
.testimonials .title h1{
	text-align: center;
	color:#ffffff;
	text-transform: uppercase;
	font-size: 36px;
	margin:0;
}

.testimonials .slider{
 border:1px solid #333333;
 max-width: 600px;
 margin: auto;
 text-align: center;
 padding:30px;
}
.testimonials .slider .slide{
	display: none;
}
.testimonials .slider .slide.active{
	
	display: block;
	animation: slide 1s ease;
}

@keyframes slide{
	0%{
		opacity:0;
		transform: translateX(-15px);
	}
	100%{
	   opacity:1;
		transform: translateX(0px);	
	}
}

.testimonials .slider p{
	font-size:18px;
	color:#ffffff;
	word-spacing: 2px;
}
.testimonials .slider .client-info h3{
	font-weight: bold;
	color:#fff;
	font-size:18px;
	margin:30px 0 10px;
}
.testimonials .slider .client-info span{
	display: block;
	font-size:16px;
	color:#11bead;
}
.testimonials .slider-indicator{
	text-align: center;
	padding-top:30px;
}
.testimonials .slider-indicator img{
	max-height:80px;
	max-width:80px;
	border-radius:50%;
	display: inline-block;
	margin:0 8px;
	opacity:0.2;
	border:4px solid #fff;
	cursor: pointer;
	transition: opacity 1s ease;
}
.testimonials .slider-indicator img.active{
	opacity:1;
}

/* ------------------testimonial end----------------- */

/* --------------------about start---------------------- */

.about {
    padding: 60px 20px;
    background-color: #f4f4ef;
    text-align: center;
    width: 100%;
}

.about h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.about-left,
.about-right {
    flex: 1;
    padding: 20px;
    max-width: 700px;
    /* background-color: #02A3DA; */
}

.about-left p {
    font-size: 24px;
    line-height: 1.6;
    color: #555;
    text-align: left;
}

.about-right img {
    height: 400px;
    border-radius: 10px;
}



/* -----------about ends----------- */

/* ------------contact starts---------*/

.contact {
    padding: 60px 20px;
    background-color: #000000;
    text-align: center;
}

.contact-heading h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 120px;
    color: white;
}

.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    /* border: 2px solid yellow; */
    align-items: center;
    width: 85%;
    margin: auto;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* border: 2px solid white; */
    padding: 0 10px;
}

.social-links i {
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.links a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
}


/*--------------faq starts---------------*/

.accordion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #282828;
    font-family: "Syne Mono";
    padding-bottom: 50px;
    padding-top: 30px;
}

.heading{
    color: white;
    margin-bottom: 40px;
    font-size: 2.5em;
    letter-spacing: 5px;
}

.accordion{
    max-width: 600px;
    width: calc(100%-20px); 
}

details{
    background-color: #1E1E1E;
    margin-bottom: 15px;
    /* find the below meaning */
    filter: drop-shadow(5px 5px 0px #0A0A0A);
}

details:hover{
    filter: drop-shadow(5px 5px 4px #0A0A0A);
}

details > summary{
    color: #f4de64;
    padding: 5px 10px;
    font-size: 1.3em;
    cursor: pointer;
    font-family: "Syne Mono";
}

details > p{
    padding: 5px 10px 10px 20px;
    color: #ddd;
    line-height: 25px;
    font-size: 18px;
    margin-left: 10px;
    font-family: "Syne Mono";
}

.accordion summary {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.accordion summary::before {
  content: '\25B8'; /* Unicode for right-pointing triangle */
  position: absolute;
  left: -5px;
  top: 0;
  font-size: 1.4em;
  transform: rotate(0deg); /* Initially pointing right */
  transition: transform 0.3s ease;
}

details[open] summary::before {
  transform: rotate(90deg); /* Pointing down when open */
}



/* --------------faq ends-----------------*/

/* ---------------footer starts---------- */

footer{
    text-align: center;
    padding: 20px 0;
}

/* ----------------footer ends--------------*/

/* ----------------media query starts--------------- */

/*monitor*/
@media (max-width: 1872px) {
    /*header*/
    .left h1{
        font-size: 5rem;
    }
    .read-more{
        padding: 0.7rem 1.1rem;
    }
    .right .smash{
        padding-left: 8rem;
    }
    .right .cork{
        left: 170px;
    }

    /* our services*/


}

/*desktop*/
@media (max-width: 1600px) {
    /*header*/
    .left h1{
        font-size: 4rem;
    }
    .left p{
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    .navbar ul{
        width: 40%;
    }

    /* tournament */
    .card-container{
        width: 85%;
    }
}


/* loptop */
@media (max-width: 1440px) {
    .about-wrapper {
        flex-direction: column;
    }

    .about-left,
    .about-right {
        max-width: 100%;
    }

    .navbar ul{
        justify-content: space-between;
    }

    .navbar ul{
        width: 45%;
    }
}

/*tablet - large*/
@media (max-width: 1024px){
    .left h1{
        font-size: 3rem;
    }
    .navbar ul{
        width: 50%;
    }
    .right .smash{
        padding-left: 3rem;
    }
    .content{
        width: 100%;
    }

    /* ----------tournament----------*/
    .card-container{
        width: 85%;
    }

    /* about */
    .about-wrapper{
        width: 80%;
    }
    .about-left p{
        font-size: 1.3rem;
    }
}

/*tablet - medium*/
@media (max-width: 852px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .navbar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .navbar .logo{
        position: absolute;
        left: 0;
        top: 0;
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 3rem;
        position: absolute;
        top: 1rem;
        width: 90%;
    }

    .navbar ul a{
        font-size: 1.1rem;
    }

    .left h1{
        font-size: 2.5rem;
        /* border: 2px solid blueviolet; */
        padding-top: 2.5rem;
    }

    .content{
        display: flex;
        flex-direction: column;
        margin:0;
        padding: 0;
        width: 100%;
        /* border: 2px solid yellow; */
        position: absolute;
        top: -5rem;
        padding: 0 1rem;
    }

    .content .left{
        width: 100%;
        padding: 0 0;
        margin: 10rem 0;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .content .left h1{
        margin-top: 1.2rem;
    }

    .content .left p{
        font-size: 1rem;
        /* border: 1px solid green; */
        text-align: center;
        margin-top: -2.5rem;
        padding: 0 3rem;
    }

    .content .left a{
        /* border: 2px solid orange; */
        margin-top: -3rem;
        padding: 0.3rem 0.5rem;
    }

    .content .right{
        width: 100%;
        padding: 0;
        margin: 0;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: -8rem;
    }

    .content .right .smash{
        height: 40vh;
        margin-top: 1rem;
    }

    .content .right .cork{
        position: absolute;
        /* border: 2px solid black; */
        height: 4rem;
        top: -2rem;
        left: 13rem;
    }

    /* coaching */
    .price-row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    /* about */
    .about-wrapper{
        width: 85%;
    }
    .about-left p{
        font-size: 1.1rem;
    }

    .about-right img{
        height: 280px;
    }

    /* contact */
    .social-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        height: 250px;
    }

    .contact-heading h2 {
        margin-bottom: 20px;     
    }

    /* faq */
    .accordion{
        max-width: 400px;
        width: calc(100%-20px); 
    }
}

/*mobile*/
@media (max-width: 507px){
    /* header*/
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .navbar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .navbar .logo{
        position: absolute;
        left: 0;
        top: 0;
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 3rem;
        position: absolute;
        top: 1rem;
        width: 90%;
    }

    .navbar ul a{
        font-size: 1.1rem;
    }

    .left h1{
        font-size: 2rem;
        /* border: 2px solid blueviolet; */
        padding-top: 2rem;
    }

    .content{
        display: flex;
        flex-direction: column;
        margin:0;
        padding: 0;
        width: 100%;
        /* border: 2px solid yellow; */
        position: absolute;
        top: -5rem;
        padding: 0 1rem;
    }

    .content .left{
        width: 100%;
        padding: 0 0;
        margin: 10rem 0;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .content .left h1{
        margin-top: 1.2rem;
    }

    .content .left p{
        font-size: 1rem;
        /* border: 1px solid green; */
        text-align: center;
        margin-top: -2.5rem;
    }

    .content .left a{
        /* border: 2px solid orange; */
        margin-top: -3rem;
        padding: 0.3rem 0.5rem;
    }

    .content .right{
        width: 100%;
        padding: 0;
        margin: 0;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: -8rem;
    }

    .content .right .smash{
        height: 40vh;
    }

    .content .right .cork{
        position: absolute;
        height: 4rem;
        top: -2rem;
        left: 8rem;
    }

    /*-----coaching-----*/
    
    .price-row{
        width: 75%;
    }

    /* ------tournament--------*/
    .card-container{
        width: 85%;
    }

    /* about */
    .about-wrapper{
        width: 95%;
    }
    .about-left p{
        font-size: 0.9rem;
        text-align: center;
    }

    .about-right img{
        height: 220px;
    }

    /* contact */
    .social-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        height: 250px;
    }

    .social-links a{
        font-size: 13px;
    }

    .contact-heading h2 {
        margin-bottom: 20px;     
    }

    /* faq */
    .accordion{
        max-width: 400px;
        width: calc(80%-20px); 
        margin: auto;
    }

    details > summary{
        font-size: 1.1em;
    }

    details > p{
        font-size: 16px;
    }

}

/* ----------------media query ends--------------- */